@import "../Mixins.scss";

.search {
  width: 100%;
  padding: 7rem 0 0;
  display: none;
  &__input {
    padding: 1rem 1.5rem;
    border-top-left-radius: 10rem;
    border-bottom-left-radius: 10rem;
  }

  &__btn {
    padding: 1rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    max-height: 35px;
  }
}

.open {
  @include d-flex() {
    align-items: getAlign(c);
    justify-content: getJustify(c);
  }
}
